<div>
    <!-- Button trigger modal -->
    <button type="button" onclick="VaciarFormulario()" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#ModalTarea">
        Añadir Tarea
    </button> <br> <br>

    <!-- Modal -->
    <div class="modal fade" id="ModalTarea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div>

                        <div class="form-group">
                            <input type="hidden" id="TareaID">

                        </div>

                        <div class="form-group">
                            <label class="control-label">Titulo</label>
                            <input type="text" class="form-control" id="Titulo" onkeyup="this.value = this.value.toUpperCase()">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Descripción</label>
                            <textarea class="form-control" id="Descripcion" onkeyup="this.value = this.value.toUpperCase()" rows="4" cols="50"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Fecha</label>
                            <input type="date" class="form-control" id="FechaCarga">
                        </div>

                        <div class="form-group">
                            <label class="control-label">Fecha de FechaVencimiento</label>
                            <input type="date" class="form-control" id="FechaVencimiento">
                        </div>

                        <label class="control-label">Asignatura</label>
                        @Html.DropDownList("AsignaturaID", null, htmlAttributes: new { @class = "form-control" })

                         <label class="control-label">Profesor</label>
                        @Html.DropDownList("ProfesorID", null, htmlAttributes: new { @class = "form-control" })




                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" onclick="GuardarTarea()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table   table-condensed  table-hover ">
        <thead>
            <tr class="">
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Fecha de Vencimiento</th>
                <th>Profesor</th>
                <th>Asignatura</th>

                <th></th>
            </tr>

        </thead>
        <tbody id="tbody-tareas">
        </tbody>
    </table>

    


</div>

@section Scripts {
    <script src="~/js/tarea.js"></script>
}